.Item {
  padding-top: 10px;
  background-color: #4686a0;
  color: black;
  background-attachment: fixed,	fixed, fixed;
  background-image: url(../../img/overlay2.png), url(../../img/overlay3.svg), linear-gradient(45deg, #fbf7ad 5%, #8baac1 30%, #e5b1e5);
  background-position: top left,	center center,	center center;
  background-size: auto,	cover,	cover;
  height: 100%;
  float: center;
}

.TextBox {
  width: 100%;
}

.Col {
  /* padding: 100px; */
}
